body{
  background-color: #060522;
}

.mainc {
    padding-left: 30px;
    padding-right: 30px;
    width: 700px;
    margin: auto;
    background: #060522;
    border-radius: 16px;
    border: 2px solid #d56906;
    overflow: auto;
  }
  p{
    color: #ffffff;
  }
  input {
    height: 45px;
    width: 95%;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid rgb(15, 15, 196);
    border-radius: 5px;
    padding-left: 25px;
    
  }
  input:focus {
    outline: none;
    border: 2px solid #c1d9fd;
  }
  input:valid {
    border-color: rgb(15, 15, 196);
  }
  input:invalid {
    border-color: rgb(212, 42, 15);
  }
  input:not(:focus):invalid {
    border-color: #c1d9fd;
  }
  textarea {
    height: 45px;
    width: 95%;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #e9f2ff;
    border-radius: 5px;
    padding-left: 25px;
  }
  textarea:focus {
    outline: none;
    border: 2px solid #c1d9fd;
  }
  textarea:valid {
    border-color: rgb(15, 15, 196)
  }
  textarea:invalid {
    border-color: orange;
  }
  textarea:not(:focus):invalid {
    border-color: #c1d9fd;
  }
  
  .form-title {
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-top: 12px;
    margin-bottom: 38px;
  }
  .form-field {
    margin-bottom: 13px;
  }
  
  .form-field .ptextt {
    height: 200px; /* Atur ketinggian kotak deskripsi */
    overflow: auto;
    /* Aktifkan scrollbar jika konten melebihi ketinggian */
  }
  /*
  .ptext::-webkit-input-placeholder {
    color: white;
  }
  
  /*support mozilla
  .ptext:-moz-input-placeholder {
    color: white;
  }
  
  /*support internet explorer
  .ptext:-ms-input-placeholder {
    color: white;
  */
  
  .form-button {
    border: 3px solid #000000; /* border: tebal[px] tipe[solid,dashed,dotted] warna[#hex, rgb()]; */
    background: #0905f3; /* set warna background menjadi transparan */
    color: #ffffff; /* ubah warna font */
    font-size: 16px; /* ubah ukuran font */
    padding: 0.5em 1em 0.5em 1em; /* padding: top right bottom left; */
  }
  .form-button:hover {
    border-color: rgb(255, 255, 255);
     /* ubah tingkat transparansi saat cursor menuju button. 0.0 s.d 1.0 */
  }
  .form-button:active {
    background: #f4f5f6;
    border-color: rgb(9, 33, 246);
    color: #0f22ea; /* set warna font menjadi putih */
  }
  